<section class="container-products">
  <div class="header-products">
    <h2>{{ label }}</h2>
    <a routerLink="/products">
      Ver tudo 
      <img src="../../../assets/seta.svg" alt="">
    </a>
  </div>

  <div class="content-products">
    <div 
    *ngFor="let product of products; index as i"
    class="products">
    <div *ngIf="i <= 6">
      <img src='{{ product.img }}' alt="">
      <h3>{{ product.name }}</h3>
      <p class="price">R$ {{ product.price }}</p>
      <p class="see-product">Ver produto</p>
    </div>
    </div>
  </div>

</section>
