<section class="container-contact">

  <div class="contact">
    <div class="logo">
      <a routerLink="/">
        <img src="../../../assets/craftBeer.svg" alt="">
      </a>
      <p>Craft <span>Beer</span></p>
    </div>  
      <div class="contact-links">
        <a routerLink="/">Quem somos nós</a>
        <a routerLink="/">Política de privacidade</a>
        <a routerLink="/">Programa fidelidade</a>
        <a routerLink="/">Nossas lojas</a>
        <a routerLink="/">Quero ser franqueado</a>
        <a routerLink="/">Anuncie aqui</a>
      </div>
  </div>  

  <form action="">
    <h2>Fale conosco</h2>
    <input class="input-name" type="text" placeholder="Nome">
    <input class="input-text" type="text" placeholder="Escreva sua mensagem">
    <app-button-form [label]="'Enviar'"></app-button-form>
  </form>
  
</section>