img {
  width: 100vw;
  height: 192px;
}

div {
  overflow-x: hidden;
}

@media(min-width: 768px) and (max-width: 1440px) {
  div {
    overflow-x: hidden;
  }
  img {
    width: 100vw;
    height: 352px;
  }
}

@media(min-width: 1440px) {
  div {
    overflow-x: hidden;
  }
  img {
    width: 100vw;
    height: 352px;
  }
}